/* Визначення кольорів */

:root {
  --primary-text-color: #212121;
  --secondary-text-color: #757575;
  --white-color: #ffffff;
  --accent-color: #2196f3;
  --hero-btn-accent-color: #188ce8;
  --background-color-dark: #2f303a;
  --background-color-light: #f5f4fa;
  --primary-header-color: #ffffff;
  --logo-color: #000000;
  --footer-logo-color: #ffffff;
  --footer-contatcs-color: rgba(255, 255, 255, 0.6);
}

.page {
  margin: 0px;
  font-family: 'Roboto', sans-serif;
  font-size: 14px;
  font-weight: 400;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: var(--primary-text-color);
  background-color: var(--white-color);
}

/* Логотип */

.logo {
  text-decoration: none;
  font-family: 'Raleway', sans-serif;
  font-size: 26px;
  line-height: 1.19;
  font-weight: 700;
  color: var(--logo-color);
}

.list {
  padding: 0px;
  margin: 0px;
  list-style: none;
}

/* Меню навігації */

/*.menu-item {
  display: inline-block;
  vertical-align: top;
  padding-top: 32px;
}*/

.site-nav,
.header-contacts {
  font-size: 14px;
  font-weight: 500;
  line-height: 1.14;
  letter-spacing: 0.02em;
}

.site-nav-link {
  text-decoration: none;
  color: var(--primary-text-color);
}
.site-nav-link:hover,
.site-nav-link:focus,
.logo-highlight,
.site-nav-link.current {
  color: var(--accent-color);
}

.header-contacts-link {
  text-decoration: none;
  color: var(--secondary-text-color);
}

.header-contacts-link:hover,
.header-contacts-link:focus,
.footer-contacts-link:hover,
.footer-contacts-link:focus,
.post-address:hover {
  color: var(--accent-color);
}

/* Головний розділ сайту */

.hero {
  background-color: var(--background-color-dark);
  text-align: center;
}

.hero-title {
  font-size: 44px;
  font-weight: 900;
  line-height: 1.36;
  letter-spacing: 0.06em;
  color: var(--primary-header-color);
  text-transform: uppercase;
}

.hero-button {
  font-family: inherit;
  font-size: 16px;
  font-weight: 700;
  line-height: 1.87;
  letter-spacing: 0.06em;
  color: var(--white-color);
  background-color: var(--accent-color);
}

.hero-button:hover,
.hero-button:focus {
  background-color: var(--hero-btn-accent-color);
}

/* Типовий розділ */

.section-title {
  font-size: 36px;
  line-height: 1.17;
}

/* Розділ Чем мы занимаемся */

.about-subtitle {
  font-size: 14px;
  line-height: 1.14;
  text-transform: uppercase;
}

.about-text {
  font-size: 14px;
  color: var(--secondary-text-color);
}

/* Розділ Наша команда */

.team {
  background-color: var(--background-color-light);
}

.team-name {
  font-size: 16px;
  font-weight: 500;
  line-height: 1.19;
}

.team-position {
  font-size: 16px;
  line-height: 1.19;
  color: var(--secondary-text-color);
}

/* Нижній колонтитул */

.footer {
  background-color: var(--background-color-dark);
  color: var(--white-color);
}

.footer-logo {
  text-decoration: none;
  font-family: 'Raleway', sans-serif;
  font-size: 26px;
  line-height: 1.19;
  font-weight: 700;
  color: var(--white-color);
}

/* address {
  font-style: inherit;
} */

.post-address {
  font-size: 14px;
  font-weight: 400;
  font-style: normal;
}

.footer-contacts-link {
  text-decoration: none;
  font-style: normal;
  color: var(--footer-contatcs-color);
}

/* Розділ Портфолио */

.portfolio-title {
  display: none;
}

.btn {
  text-align: center;
}

.btn-item {
  font-family: inherit;
  font-size: 16px;
  font-weight: 500;
  line-height: 1.62;
  letter-spacing: 0.03em;
  color: var(--primary-text-color);
  background-color: var(--background-color-light);
  display: inline-block;
  padding: 6px 22px;
  border-color: transparent;
  height: 38px;
}

.btn-item:hover,
.btn-item:active {
  color: var(--white-color);
  background-color: var(--accent-color);
  cursor: pointer;
}

.portfolio-link {
  text-decoration: none;
}

.portfolio-name {
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  color: var(--primary-text-color);
}

.portfolio-type {
  font-size: 16px;
  line-height: 1.87;
  color: var(--secondary-text-color);
}
